{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %} {% trans 'Authorization' %} {% endblock %}
{% block block_for_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth_reg.css' %}">
{% endblock %}
{% block content %}
    {% if messages or form.non_field_errors %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% else %}
            {{ form.non_field_errors }}
        {% endif %}
    {% endif %}
    <div class="user_form_block">
        <div style="background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);border-bottom:3px solid rgb(220, 220, 220); width: 100%; flex-basis: 10%">
            <h1 style="text-align: center;color: white">{% trans 'Authorization' %}</h1>
        </div>
        <form action="" method="post" class="user_form">
            {% csrf_token %}
            <label for="old_pass">{% trans 'Username' %}:</label>
            {{ form.username|add_class:"form_field"|attr:"id:username" }}
            <label for="password">{% trans 'Password' %}:</label>
            {{ form.password|add_class:"form_field"|attr:"id:password" }}
            <button style="background: #9FC53A; color: white; padding: 5px; border-radius: 5px">{% trans 'Log in' %}
            </button>
        </form>
        <div style="background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);border-top:3px solid rgb(220, 220, 220); width: 100%; display: flex;
                                     justify-content: center; align-items: center; height: 2em">
            <a href="{% url 'registration' %}" style="color: white">{% trans 'Do you need an account? Let`s register now' %} </a>
        </div>
    </div>
{% endblock %}

