{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block block_for_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth_reg.css' %}">
{% endblock %}

{% block content %}
    <h1 style="text-align: center">{% trans 'Password changing' %}</h1>
    <form method="post" class="profile_form">
        {% csrf_token %}
        <label for="old_pass">{% trans 'Enter old password' %}:</label>
        {{ form.old_password|attr:"id:old_pass"|add_class:"profile_field" }}
        <label for="new_pass1">{% trans 'Enter your new password' %}:</label>
        {{ form.new_password1|attr:"id:new_pass1"|add_class:"profile_field" }}
        <label for="new_pass2">{% trans 'Repeat your new password' %}:</label>
        {{ form.new_password2|attr:"id:new_pass2"|add_class:"profile_field"}}
        <button type="submit">{% trans 'Save changes' %}</button>
    </form>
{% endblock %}