{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %} Регистрация {% endblock %}


{% block block_for_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth_reg.css' %}">
{% endblock %}

{% block content %}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    {% if messages or form.non_field_errors %}
        {% if messages %}
            {% for message in messages %}
                <p style="text-align: center">{{ message }}</p>
            {% endfor %}
        {% else %}
            <p style="text-align: center">{{ form.non_field_errors }}</p>
        {% endif %}
    {% endif %}
    <div class="user_form_block">
        <div style="background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);border-bottom:3px solid rgb(220, 220, 220); width: 100%; flex-basis: 10%">
            <h1 style="text-align: center;color: white">{% trans 'Registration' %}</h1>
        </div>
        <form action="" method="post" class="user_form">
            {% csrf_token %}
            <label for="first_name">{% trans 'First name' %}:</label>
            {{ form.first_name|add_class:"form_field"|attr:"id:first_name" }}
            <label for="last_name">{% trans 'Last name' %}:</label>
            {{ form.last_name|add_class:"form_field"|attr:"id:last_name" }}
            <label for="username">{% trans 'Username' %}:</label>
            {{ form.username|add_class:"form_field"|attr:"id:username" }}
            <label for="email">{% trans 'Email' %}:</label>
            {{ form.email|add_class:"form_field"|attr:"id:email" }}
            <label for="password1">{% trans 'Password' %}:</label>
            {{ form.password1|add_class:"form_field"|attr:"id:password1" }}
            <label for="password2">{% trans 'Repeat' %}:</label>
            {{ form.password2|add_class:"form_field"|attr:"id:password2" }}
            <button style="background: #9FC53A; color: white; padding: 5px; border-radius: 5px">{% trans 'Registration' %}
            </button>
        </form>
        <div style="background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);border-top:3px solid rgb(220, 220, 220); width: 100%; display: flex;
                                     justify-content: center; align-items: center; height: 2em">
            <a href="{% url 'authorization' %}" style="color: white">{% trans 'If you`re already have an account, Log in' %} </a>
        </div>
    </div>
{% endblock %}
